<div id="<%= dom_id message %>">
  <div>
    <strong>Listing:</strong>
    <%= message.listing_id %>
  </div>

  <div>
    <strong>Sender:</strong>
    <%= message.sender_id %>
  </div>

  <div>
    <strong>Recipient:</strong>
    <%= message.recipient_id %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= message.content %>
  </div>

  <div>
    <strong>Read:</strong>
    <%= message.read %>
  </div>

</div>
